* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
 position: sticky;
 top: 0;
 color: white;
 z-index: 1000;
 overflow: hidden;
 padding: 10px 20px;
}
nav {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  gap: 50px;
}
nav :hover {
  color: blue;
}
nav :active{
  color: red;
}
.logo1 {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  opacity: .75;
}
nav ul li {
  list-style: none;
  display: inline;
  margin-left: 50px;
  color: white;
}
nav ul li a {
  text-decoration: none;
  color:aliceblue;
  font-weight: bold;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 100px;
  font-weight: 600;
  color: chocolate;
  margin: auto;
}
.p1{
  color: beige;
}
.vidhead {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  overflow: auto;
}
.container h2{
  color: chocolate;
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  background-color: black;
}
.container .p2{
  color: white;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
}
.head1{
  color: rgb(218, 55, 69);
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.beans1{
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  position: flex;
}
.container h3{
  color: chocolate;
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  background-color: black;
}
.p3{
  color: beige;
  position:absolute;
  z-index: 1;
  margin-top: 50px;
}
.head2{
  color: rgb(218, 55, 69);
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.beans2{
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.container h4{
  color: chocolate;
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  background-color: black;
}
.p4{
  color: beige;
  position:absolute;
  z-index: 1;
  margin-top: 50px;
}
.head3{
  color: rgb(218, 55, 69);
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.beans3{
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.container h4{
  color: chocolate;
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  background-color: black;
}
.p5{
  color: beige;
  position:absolute;
  z-index: 1;
  margin-top: 50px;
}
.head4{
  color: rgb(218, 55, 69);
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.beans4{
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.types{
  color: rgb(218, 55, 69);
  font-size: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  overflow-y: hidden;
}
.vidsec{
  width: 100%;
  height: 35vh;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  object-fit: cover;
}
section ul li {
  list-style: none;
  display: inline;
  margin-left: 50px;
  color: chocolate;
  cursor: pointer;
}
section ul li:hover{
  color: white
}
.feet{
  color: white;
  text-align: center;
  font-size: 30px;
  size: 20px;
  background-color:transparent;
  width: 100%;
  overflow: none;
  margin-top: 11%;
  position: absolute;
}
.social img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  opacity: .75;
}
.social img:hover{
  transform: scale(1.2);
}
.footp{
  color: red;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
  display: absolute;
  overflow-x: hidden;
}
.gallery-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}
.gallery-item :hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.gallery-item img {
  width: 100%;
  height: 100px;
  display: block;
}
.gallery-item h3 {
  text-align: center;
  padding: 10px 0;
  color: chocolate;
  font-weight: bold;
  margin-bottom: 10px;
}
.prohead{
  color: rgb(218, 55, 69);
  font-size: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.feet1{
  color: white;
  text-align: center;
  font-size: 30px;
  size: 20px;
  background-color:transparent;
  width: 100%;
  overflow: none;
  margin-top: 0;
  position: absolute;
}
.social1 img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  opacity: .75;
}
.social1 img:hover{
  transform: scale(1.2);
}
.secform{
  margin-top: 50px;
  text-align: center;
}
.kontainer{
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border: solid 1px;
  border-radius: 10px;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  margin-top: 50px;
  
}
.kontainer .title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: chocolate;
  position: relative;
}
.kontainer .title::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 5px;
}
.kontainer form .form-group{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
form input{
  width: calc(100%/3 - 20px);
}
button{
  padding: 10px 20px;
  background-color: chocolate;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 150px;
}
.title1{
  color: mediumspringgreen;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.map{
  width: 100%;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
h6 {
  color: red;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.paa{
  color: white;
  text-align: center;
  font-size: 30px;
  size: 20px;
  background-color:aliceblue;
  width: 100%;
  overflow: none;
  margin-top: 310px;
  background-color: transparent;
}
.sosyal img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  opacity: .75;
}
.sosyal img:hover{
  transform: scale(1.2);